 
  <div class="contract_title">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>
  <div class="contract_title">
    <%= form.label :Email %>
    <%= form.email_field :Email %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content%>
  </div>