<div class="container">
  <div class="row_A">
    <div class="col-sm-12 col-md-12">
      <div class="index_header">
        <li class="index_header_main">評価一覧</li>
        <li class="button_to_new">
          <%= link_to '投稿する', '/blogs/new' ,class: "fa fa-caret-right" %>
        </li>
      </div>
    </div>
  </div>
  <p><%= notice %></p>
  <div class="row_B">
    <div class="col-sm-12 col-md-3">
      <div class="lecture_bar">
        <div class="treemenu1">
          <h4 class="lecture_bar_header">講義リスト</h4>
          <div class="tm-content">
            <label for="tm1-cap1">基盤科目</label>
            <input id="tm1-cap1" type="checkbox">
            <div class="tm1-cont">
              <p><img src="guide.png" alt="">
                <a href="#">―――</a>
              </p>
              <p><img src="guide.png" alt="">
                <a href="#">―――</a>
              </p>
            </div>
            <label for="tm1-cap2">経済学部</label>
            <input id="tm1-cap2" type="checkbox">
            <div class="tm1-cont">
              <img src="guide2.png" alt="">
              <label for="tm1-cap2-1">経済学科</label>
              <input id="tm1-cap2-1" type="checkbox">
              <div class="tm1-cont">
                <p><img src="guide2.png" alt="">
                  <a href="#">経済学</a>
                </p>
                <p><img src="guide2.png" alt="">
                  <a href="#">マクロ経済学</a>
                </p>
                <p><img src="guide2.png" alt="">
                  <a href="#">ミクロ経済学</a>
                </p>
              </div>
              <img src="guide.png" alt="">
              <label for="tm1-cap2-2">経営学科</label>
              <input id="tm1-cap2-2" type="checkbox">
              <div class="tm1-cont">
                <p><img src="guide2.png" alt="">
                  <a href="#">---</a>
                </p>
                <p><img src="guide2.png" alt="">
                  <a href="#">---</a>
                </p>
                <p><img src="guide2.png" alt="">
                  <a href="#">---</a>
                </p>
              </div>
              <p><img src="guide2.png" alt="">
                <a href="#">―――</a>
              </p>
              <p><img src="guide2.png" alt="">
                <a href="#">―――</a>
              </p>
            </div>
            <label for="tm1-cap3">教育学部</label>
            <input id="tm1-cap3" type="checkbox">
            <div class="tm1-cont">
              <p><img src="guide2.png" alt="">
                <a href="#">―――</a>
              </p>
            </div>
          </div><!--tm-content-->
        </div><!--treemenu2-->
      </div>
    </div>
    <div class="col-sm-12 col-md-9">
      <% @blogs.each do |blog| %>
        <div class="row_B_A">
          <div class="col-sm-2 col-md-2">
            <div class="content_left_side">
              <p>講義名：<br><%= blog.lecture_name %></p>
              <p>教授名：<br><%= blog.name %></p>
              <p>難易度：<br><%= blog.difficulty %></p>
              <p>投稿者：<br><%= blog.user.name %></p>
            </div>
          </div>
          <div class="col-sm-10 col-md-10">
            <div class="content_right_side">
              <p><%= blog.content %></p>
              <% if logged_in? %>
                <% if current_user.id == blog.user_id %>
                  <div class="content_right_side_button">
                    <p><%= link_to '詳細を確認', blog_path(blog.id), class: 'btn btn-default' %></p>
                    <p><%= link_to "編集する", edit_blog_path(blog.id), class: 'btn btn-info' %></p>
                    <p><%= link_to '削除', blog_path(blog.id),class: 'btn btn-danger', method: :delete ,data: { confirm: '本当に削除していいですか？' ,class: 'btn btn-danger'} %></p>
                  </div>
                <% end %>
                <div class="content_right_side_button">
                  <p><%= link_to '詳細を確認', blog_path(blog.id), class: 'btn btn-default' %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row_C">
    <div class="col-sm-12 col-md-12">
      <div><%= link_to 'お問い合わせ', '/contacts/new' %></div>
    </div>
  </div>
  <div class="row_D">
    <div class="col-sm-12 col-md-12">

    </div>
  </div>
</div>
